# GameVoid Engine dependencies
deps/

# Executables & binaries
*.exe
*.o
*.obj
*.a
*.lib
*.dll
*.pdb
*.ilk

# Config files
gamevoid_config.ini

# Build outputs
build/
build_err*.txt

# Editor state
imgui.ini
